.hero-bg {
    background-image: url('../../assets/cakeroll2.png');
    background-repeat: no-repeat;
    background-size: cover;

}







/*MEDIA QUERY*/
@media only screen and (max-width: 490px) {
.hero-bg {
margin: 0;
background-image: url('../../assets/cakeroll2.png');
background-repeat: no-repeat;
background-size: cover;
height: 150%;
}

}