.cart-items {
    list-style: none;
    margin: 1rem;
    color: white;
    margin-left: 2rem;
    font-weight: bold;
    padding: 0;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto; 
  };

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: white;
}

.total .total-amount {
    color: white;
    margin-left: 2rem;
    /* position: relative; */
    /* right: 25rem; */
}

.total .price {
    margin-left: 20rem;
    color: white;
}



.actions {
    text-align: right;
    position: relative;
    top: 3rem;
    margin-right: 1rem;
}

.button--alt {
    border-radius: 40rem;
    background: #5f240d;
    border-color: #8a2b06;
    color: white;
    padding: 10px;
    width: 90px;
    margin-right: 2rem;

}

.button-order{
    border-radius: 40rem;
    background: #5f240d;
    border-color: #8a2b06;
    color: white;
    padding: 10px;
    width: 90px;
    margin-left: 10px;
}

.button-order:hover,
.button--alt:hover {
    background: rgb(192, 192, 192);
    color: black;
}

::-webkit-scrollbar {
    width: 0;
}
