.links a {
    text-transform: uppercase;
    margin: 0;
}

.card-container {
    display: flex;
    margin-left: 8rem;
    position: relative;
    bottom: 8rem;
    margin-bottom: 3rem;
}

.card {
    margin-left: 2rem;
  
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* .card img { */
    /* width: 20rem; */
    /* height: 20rem; */
/* } */

.card:nth-last-child(1) {
    margin-right: 8rem;
}


.card:nth-last-child(1):hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.card img {
    width: 100%;
}

.container p {
    text-align: center;
}


.container p:nth-last-child(1) {
color: goldenrod;
}


.container p:nth-last-child(1), .container p:nth-last-child(2) {
    text-transform: uppercase;
}



/*MEDIA QUERY*/
@media only screen and (max-width: 480px) {






}