.menu-text {
    text-align: center;
}

.hr {
    display: block;
    width: 1.7rem;
    background: red;
    height: 0.2rem;
    position: relative;
    top: 0.7rem;
    margin-left: 52rem;
}

h4.text {
    text-transform: uppercase;
    color: black;
position: relative;
}

.our-menu {
    text-transform: capitalize;
    font-size: 3rem;
    position: relative;
    bottom: 3rem;

}


/*MEDIA QUERY*/
@media only screen and (max-width: 480px) {


    .hr {
        display: block;
        width: 3rem;
        background: red;
        height: 0.2rem;
        margin-left: 7.7rem;
        margin-right: 7.7rem;
        position: absolute;
        bottom: 2rem;
display: none;
    }

     h4.text {
        text-transform: uppercase;
        color: black;
margin-left: 5.5rem;
margin-right: 5.5rem;
position: relative;
bottom: 6rem;
font-size: 0.8rem;
    }
    
    .menu-text {
display: block;
position: relative;
top: 2rem;
text-align: center;
    }
    
 .our-menu {
    text-transform: capitalize;
    font-size: 1.3rem;
    position: relative;
    bottom: 7rem;
margin-left: 1.5rem;
margin-right: 1.5rem;
}


}