.about-btn {
    margin-left: 44rem;
    position: relative;
    bottom: 18rem;;
    }


    .btn {
        text-transform: uppercase;
        background: rgb(155, 80, 10);
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        color: white;
        border: none;
        width: 12rem;
    } 
    
    .arrow-icon {
        width: 2rem;
        background: rgb(190, 171, 117);
        padding: 1.5rem 1rem 1.5rem 1rem;
        margin-top: 0.8rem;
        position: relative;
        top: 1.7rem;
    }
    
    
    /*MEDIA QUERY*/
    @media only screen and (max-width: 480px) {
        .about-btn {
            margin-left: 0.3rem;
            position: relative;
            bottom: 2.5rem;
            }
    
        .btn {
            text-transform: uppercase;
            background: rgb(155, 80, 10);
            padding: 0.5rem;
            color: white;
            border: none;
            width: 5rem;
            font-size: 0.45rem;
            margin-top: 5rem;
            margin-left: 0;
            } 
    
        .arrow-icon {
            width: 2rem;
            background: rgb(190, 171, 117);
            padding: 0.33rem 0.4rem 0.2rem 0.4rem;
    position: relative;
    top: 0.6rem;
    
             }
    
    }