/*
.row-one, .row-two {
    display: flex;
    margin-left: 3rem;
    justify-content: center;
}
*/





.row-one {
display: flex;
position: relative;
bottom: 20rem;
align-items: center;
justify-content: center;
}


.row-one input {
    padding: 1rem 1.5rem 1rem 1.5rem;
background: rgb(240, 234, 234);

}

.row-two {
    display: flex;
    position: relative;
    bottom: 18rem;
    align-items: center;
justify-content: center;

    }

    
.row-two input {
    padding: 1rem 1.5rem 1rem 1.5rem;
background: rgb(240, 234, 234);
}



    .row-three {
        position: relative;
        bottom: 18rem;
        align-items: center;
        justify-content: center;
        
    }

    
.row-three input {
    padding: 1rem 50rem 6rem 3rem;
background: rgb(240, 234, 234);
margin-left: 15rem;
margin-top: 2rem;

}

    input {
        margin-right: 2rem;
        padding: 0.5rem 0;
        width: 20rem;
        background: rgb(168, 166, 166);
        border: none;
    }

    .row-one p, .row-two p {
        color: red;
        margin-left: 1.2rem;
    }

    BiUser{
        background: rgb(168, 166, 166);
        border: none;
    }