.footer-content-body {
display: flex;
position: relative;
bottom: 14rem;
margin-top: 6rem;
}

.brand {
    margin-top: 8rem;
    text-transform: uppercase;
    margin-left: 12rem;
    flex: 4;
}





