.progress-bar {
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
bottom: 20rem;
left: 55rem;
}
    
    label {
        display: block;
    }
    
    progress {
        background: #000;
        margin-top: 1rem;
        color: #000;
        border-radius: 50%;
        width: 35rem;
    }
    
    