.caret {
    display: flex;
    position: relative;
top: 33rem;
left: 3rem;
}


/*MEDIA QUERY*/

@media only screen and (max-width: 480px) {
    .caret {
        display: flex;
        margin-left: 85rem;
        position: relative;
        bottom: 6rem;
    }   
}