.newsletter {
    margin-left: 10rem;
}

.newsletter h3 {
    margin-bottom: 1.2rem;
}

.newsletter input {
    padding: 2rem 3rem;
background: rgb(240, 234, 234);
margin-top: 0.5rem;
    
}

.newsletter input placeholder {
    font-size: medium;
}



/*MEDIA QUERY*/
@media only screen and (max-width: 480px) {

}